* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#snake-board {
  width: 100vw;
  height: 90vh;
  /* border: 2px solid black; */
}

#start-btn,
#restart-btn {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: calc(50%-12%);
  width: 24%;
  outline: none;
  border-radius: 10px;
  z-index: 99;
}
#start-btn {
  display: block;
}
#restart-btn {
  display: none;
}

#win-banner {
  font-size: 24px;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  text-align: center;
  display: none;
}
